___

<a href='http://www.pieriandata.com'> <img src='../Pierian_Data_Logo.png' /></a>
___

# Data Input and Output

This notebook is the reference code for getting input and output, pandas can read a variety of file types using its pd.read_ methods. Let's take a look at the most common data types:

In [10]:
import numpy as np
import pandas as pd

## CSV

### CSV Input

In [141]:
df = pd.read_csv('example')
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

### CSV Output

In [140]:
df.to_csv('example',index=False)

## Excel
Pandas can read and write excel files, keep in mind, this only imports data. Not formulas or images, having images or macros may cause this read_excel method to crash.

### Excel Input

In [13]:
pd.read_excel('Excel_Sample.xlsx',sheet_name='Sheet1')

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

### Excel Output

In [14]:
df.to_excel('Excel_Sample.xlsx',sheet_name='Sheet1')

## HTML

You may need to install htmllib5,lxml, and BeautifulSoup4. In your terminal/command prompt run:

    conda install lxml
    conda install html5lib
    conda install BeautifulSoup4

Then restart Jupyter Notebook.
(or use pip install if you aren't using the Anaconda Distribution)

Pandas can read table tabs off of html. For example:

In [7]:
%pip install lxml
%pip install html5lib
%pip install BeautifulSoup4

Requirement already satisfied: lxml in /Users/parthamehta/anaconda3/lib/python3.8/site-packages (4.6.3)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: html5lib in /Users/parthamehta/anaconda3/lib/python3.8/site-packages (1.1)
Requirement already satisfied: six>=1.9 in /Users/parthamehta/anaconda3/lib/python3.8/site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in /Users/parthamehta/anaconda3/lib/python3.8/site-packages (from html5lib) (0.5.1)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: BeautifulSoup4 in /Users/parthamehta/anaconda3/lib/python3.8/site-packages (4.10.0)
Requirement already satisfied: soupsieve>1.2 in /Users/parthamehta/anaconda3/lib/python3.8/site-packages (from BeautifulSoup4) (2.2.1)
Note: you may need to restart the kernel to use updated packages.

### HTML Input

Pandas read_html function will read tables off of a webpage and return a list of DataFrame objects:

In [138]:
df = pd.read_html("https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list")

In [136]:
from bs4 import BeautifulSoup
import pandas as pd
import lxml
import html5lib

path = 'banklist.html'
with open(path, 'rt') as myfile:
    data = myfile.read().replace("<br>", '\n')


df = pd.read_html(data)

In [137]:
df[0]

,Bank NameBank,CityCity,StateSt,CertCert,Acquiring InstitutionAI,Closing DateClosing,FundFund
0,Almena State Bank,Almena,KS,15426,Equity Bank,"October 23, 2020",10538
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb","October 16, 2020",10537
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.","April 3, 2020",10536
3,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,"February 14, 2020",10535
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,"November 1, 2019",10534
5,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,"October 25, 2019",10533
6,Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,"October 25, 2019",10532
7,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.","May 31, 2019",10531
8,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,"December 15, 2017",10530
9,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,"October 13, 2017",10529
10,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb","May 26, 2017",10528
11,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,"May 5, 2017",10527

____

_____
_____
# SQL (Optional)

* Note: If you are completely unfamiliar with SQL you can check out my other course: "Complete SQL Bootcamp" to learn SQL.

The pandas.io.sql module provides a collection of query wrappers to both facilitate data retrieval and to reduce dependency on DB-specific API. Database abstraction is provided by SQLAlchemy if installed. In addition you will need a driver library for your database. Examples of such drivers are psycopg2 for PostgreSQL or pymysql for MySQL. For SQLite this is included in Python’s standard library by default. You can find an overview of supported drivers for each SQL dialect in the SQLAlchemy docs.


If SQLAlchemy is not installed, a fallback is only provided for sqlite (and for mysql for backwards compatibility, but this is deprecated and will be removed in a future version). This mode requires a Python database adapter which respect the Python DB-API.

See also some cookbook examples for some advanced strategies.

The key functions are:

* read_sql_table(table_name, con[, schema, ...])	
    * Read SQL database table into a DataFrame.
* read_sql_query(sql, con[, index_col, ...])	
    * Read SQL query into a DataFrame.
* read_sql(sql, con[, index_col, ...])	
    * Read SQL query or database table into a DataFrame.
* DataFrame.to_sql(name, con[, flavor, ...])	
    * Write records stored in a DataFrame to a SQL database.

In [134]:
import sqlite3

In [158]:
connection = sqlite3.connect('memory.db')

In [152]:
create_sql = "CREATE TABLE IF NOT EXISTS data (MYINDEX INTEGER NOT NULL PRIMARY KEY, a INTEGER, b INTEGER, c INTEGER, d INTEGER)"
cursor = connection.cursor()
cursor.execute(create_sql)

In [155]:
df.to_sql(name="data",con=connection)

In [156]:
connection.commit()

In [159]:
sql_df = pd.read_sql_table('data','sqlite:///memory.db')

In [160]:
sql_df

   index   a   b   c   d
0      0   0   1   2   3
1      1   4   5   6   7
2      2   8   9  10  11
3      3  12  13  14  15

# Great Job!